<ion-view view-title="{{ 'views.select.businesses.title' | translate }}" cache-view="false">
  <ion-content class="padding">

    <div class="list">
      <!-- Professionals list -->
      <div class="item item-divider">{{'views.select.businesses.section.header.professionals' | translate}}</div>
      <div class="item item-avatar" ng-click="vm.assignBusiness()" ng-if="$root.user">
        <img <img actual-src="{{$root.user.photo_40_40}}" ng-src="img/default-user.png" alt="">
        <h2>{{$root.user.name}}</h2>
        <p>{{$root.user.address}}</p>
      </div>
      <div class="item" ng-if='vm.message'>{{vm.message}}</div>
      <div class="item item-divider">{{'views.select.businesses.section.header.salons' | translate}}</div>
      <div class="item">You don't have any salons yet.</div>
    </div>

  </ion-content>
</ion-view>
