<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button ng-if="$root.canDrag" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-if="!$root.hideLogout" class="button button-clear button-icon ion-log-out" ng-click="vm.logout()">
        </button>
    </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" is-enabled="$root.canDrag" ng-class="$root.cls">
    <ion-header-bar>
      <img actual-src="{{$root.user.photo_320_320}}" ng-src="img/default-user.png">
      <h2 class="name">{{$root.user.name}}</h2>
      <p class="address">{{$root.user.address}}</p>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item-icon-left" href="#/app/businesses">
          <i class="icon ion-android-sync"></i>
          Switch Business
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/receipts">
          <i class="icon ion-ios-paper-outline"></i>
          Receipts
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
