/**************************************************
+	Styles:		Login page styles
**************************************************/
.page-login {
	.middle-content {
		display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
		display: flex;
		flex: 1;
		-webkit-align-content: center;
	  -ms-flex-line-pack: center;
	  align-content: center;
	  -webkit-box-align: center;
	  -moz-box-align: center;
	  -webkit-align-items: center;
	  -ms-flex-align: center;
	  align-items: center;
		height: 100vh;
	}

	.login-form {
		width: 100%;
	}
}