/**************************************************
+	Styles:		Side menu styles
**************************************************/
.bakimli-menu {
	.bar.bar-header {
	  border-color: #b2b2b2;
	  background-color: #f8f8f8;
	  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
	  color: #444;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  position: relative;
	  z-index: 2;
	  display: block;
	  margin: -1px;
	  padding: 8px;
	  padding-left: 86px;
	  font-size: 16px;
	  min-height: 80px;

	  img {
			position: absolute;
	    top: 10px;
	    left: 10px;
	    max-width: 60px;
	    max-height: 60px;
	    width: 100%;
	    height: 100%;		
	  }

	  h2.name {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    margin: 0 0 2px 0;
	    font-size: 16px;
	    font-weight: normal;
	  }

	  p.address {
	  	margin-bottom: 0;
	  	overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    color: #666;
	    font-size: 14px;
	  }
	}
	.has-header {
		top: 80px;
	}
}