/**************************************************
+	Styles:		Professional apge styles
**************************************************/
.self-info {
  font-size: 13px;
  color: #282933;
  margin-bottom: 15px;

  > span {
  	padding-right: 8px;
  }
}

.self-about {
	font-size: 13px;
	margin-bottom: 5px;
  line-height: 24px;
}