/**************************************************
+ Styles:   Professional apge styles
**************************************************/
.item-avatar-right .item-receipt {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 18px;
  line-height: 36px;
}
select-box {
  input[readonly] {
    text-align: right;
    background-color: transparent !important;
  }
}

/* receipts view */
.receipts-view {
  h2.day {
    float: left;
  }

  .day-total {
    float: right;
  }
}

/* Cart view */
.cart-view {
	.button.button-full.button-add {
		text-align: left;
		margin: 0;
	}

	.item-total {
		padding-top: 30px;
		padding-bottom: 10px;
		background-color: #f5f5f5;
	}
	.btn-review {
		margin: 0;
	}

	.divider {
		padding-top: 16px;
		border-top: 1px solid #ddd;
	}
}

/* review cart */
.review-cart-view {
	.review-list {
		> li {
			color: #666;
			font-size: 14px;
			@extend .clearfix;

			.item-name {
				float: left;
			}

			.item-price {
				float: right;
			}
		}
	}
}

/* review detail view */
.review-detail-view {
	.review-list {
		li {
			padding: 0 10px 10px;
			border-bottom: 1px solid #d3d3d3;
			&:first-child {
				border-top: 1px solid #d3d3d3;
			}

			span.subdued {
				padding-right: 10px;
		    color: #888;
		    text-decoration: none;
			}
		}
	}
}

/* create client view */
.create-client-view {
  input[readonly] {
    background-color: transparent;
    cursor: default;
  }
}
