<div class="bar bar-header bar-dark">
  <h1 class="title">{{ 'views.login.title' | translate }}</h1>
</div>
<div class="content has-header">
  <button class="button button-full icon-left ion-social-facebook button-positive" ng-click="vm.doFbLogin()">{{ 'views.login.btn.login.with.facebook' | translate }}</button>
  <p class="text-center">- OR -</p>
  <form name="loginForm" class="login-form" ng-submit="vm.doLogin();" novalidate="novalidate">
    <div class="list">
      <label class="item item-input">
        <input type="text" name="username" ng-model="vm.loginData.username" autocorrect="off" autocapitalize="none" required placeholder="{{'views.login.form.emailorphone' | translate}}">
      </label>
      <label class="item item-input item-icon">
        <input type="password" name="password" ng-model="vm.loginData.password" required placeholder="{{'views.login.form.password' | translate}}">
      </label>
      <input type="submit" class="button button-full button-block button-positive" ng-disabled="loginForm.$invalid" value="{{ 'views.login.form.btn.login' | translate }}">
    </div>
  </form>
</div>
