<ion-view view-title="{{ 'views.receipts.add.title' | translate }}">
  <ion-content class="cart-view">
    <div class="list">
      <div class="item item-divider">{{ 'views.receipts.cart.label.appointment.time' | translate }}</div>
      <div class="item item-icon-right" ion-datetime-picker ng-model="cart.appointmentTime">
        {{vm.cart.appointmentTime| date: "dd-MM-yyyy H:mm:ss"}}
        <i class="icon ion-ios-arrow-forward"></i>
      </div>

      <div class="item item-divider">{{ 'views.receipts.cart.label.client' | translate }}</div>
      <a href="#/app/receipts/selclient" class="item item-icon-right">
        <span ng-switch="vm.cart.client">
          <span  ng-switch-when="null">{{ 'views.receipts.cart.label.select.client' | translate }}</span>
          <span ng-switch-default>{{vm.cart.client.name}}</span>
        </span>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <div class="item item-divider">{{ 'views.receipts.cart.label.services' | translate }}</div>
      <ion-list can-swipe="true">
        <ion-item click-for-options ng-repeat="item in vm.cart.services" class="item">

          <h2>{{item.service.name}}</h2>
          <p>{{item.price | bakimliCurrency | ifEmpty:0}}</p>
          <ion-option-button class="button-positive"
                             ng-click="vm.editServicePrice(item)">
            Edit Price
          </ion-option-button>
          <ion-option-button class="button-assertive"
                             ng-click="vm.removeService(item)">
            Remove
          </ion-option-button>

        </ion-item>
      </ion-list>

      <button class="button button-full button-light button-add" ng-click="vm.addService()">{{ 'views.receipts.cart.btn.add.service' | translate }}</button>

      <div class="item item-divider">{{ 'views.receipts.cart.label.products' | translate }}</div>
      <ion-list can-swipe="true">
        <ion-item click-for-options ng-repeat="item in vm.cart.products" class="item">

          <h2>{{item.product.name}}</h2>
          <p>{{item.price | bakimliCurrency | ifEmpty:0}}</p>
          <ion-option-button class="button-positive"
                             ng-click="vm.editProductPrice(item)">
            {{ 'views.receipts.cart.btn.edit.price' | translate }}
          </ion-option-button>
          <ion-option-button class="button-assertive"
                             ng-click="vm.removeProduct(item)">
            {{ 'views.receipts.cart.btn.remove' | translate }}
          </ion-option-button>

        </ion-item>
      </ion-list>
      <button class="button button-full button-light button-add" ng-click="vm.addProduct()">{{ 'views.receipts.cart.btn.add.product' | translate }}</button>

      <!-- Total -->
      <div class="item item-total">
        <h2>{{ 'views.receipts.cart.label.total' | translate }}</h2>
        <p>{{vm.cart.total | bakimliCurrency | ifEmpty:0}}</p>
      </div>

      <button class="button button-full button-positive btn-review" ng-click="vm.doReviewCart()">{{ 'views.receipts.cart.btn.review.cart' | translate }}</button>
    </div>

  </ion-content>
</ion-view>
