<ion-view view-title="{{ 'views.receipts.create.client' | translate }}">
  <ion-content class="create-client-view">
    <form name="clientForm" ng-model="client" novalidate ng-submit="vm.doCreate()">
      <div class="list">
        <div class="list">
          <label class="item item-input" ng-class="{ 'has-errors' : clientForm.clientName.$invalid && clientForm.clientName.$touched}">
            <span class="input-label">Name:</span>
            <input type="text" name="clientName" placeholder="John" ng-model="vm.client.name" required>
          </label>
          <!-- Error Message -->
          <div ng-messages="clientForm.clientName.$error" ng-if="clientForm.clientName.$touched">
              <div ng-message="required" class="error-container">
                <div class="error">
        		      <i class="ion-information-circled"></i>
        		      This field is required!
        		    </div>
              </div>
          </div>

          <label class="item item-input item-select">
            <div class="input-label">
              Gender:
            </div>
            <select ng-model="vm.client.gender" ng-options="g.value as g.name for g in vm.genderOptions">
            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">Birthday:</span>
            <input type="text" ion-datetime-picker ng-model="vm.client.birth_date"
                   value="{{vm.client.birth_date| date: 'yyyy-MM-dd'}}" readonly>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Notes:</span>
            <textarea placeholder="Professional's notes" ng-model="vm.client.notes"></textarea>
          </label>

          <label class="item item-input" ng-class="{ 'has-errors' : clientForm.clientEmail.$invalid}">
            <span class="input-label">Email:</span>
            <input type="email" name="clientEmail" placeholder="john@suhr.com"
                   ng-model="vm.client.email">
          </label>
          <!-- Invalid Email Message -->
          <div ng-messages="clientForm.clientEmail.$error">
              <div ng-message="email" class="error-container">
                <div class="error">
        		      <i class="ion-information-circled"></i>
        		      Not valid email!
        		    </div>
              </div>
          </div>

          <label class="item item-input">
            <span class="input-label">Phone:</span>
            <input type="number" name="clientPhone" placeholder="000-000-000"
                   ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/"
                   ng-model="vm.client.phone">
          </label>

          <!-- Invalid Phonenumber Message -->
          <div ng-messages="clientForm.clientPhone.$error">
              <div ng-message="pattern" class="error-container">
                <div class="error">
        		      <i class="ion-information-circled"></i>
        		      Not valid email!
        		    </div>
              </div>
          </div>
        </div>

        <div class="padding">
          <button type="submit" class="button button-positive button-block" ng-disabled="clientForm.$invalid">{{'views.receitps.create.client.button' | translate}}</button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
