<ion-view view-title="{{ 'views.receipts.list.title' | translate }}" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon ion-plus" ng-click="vm.add()">
    </button>
  </ion-nav-buttons>
  <ion-content class="padding receipts-view">

    <ion-list data-ng-repeat="(key, values) in vm.receipts">
      <div class="item item-divider">
        <h2 class="day"> {{key | date: 'dd MMM'}}</h2>
        <span class="day-total">{{values.totalDay | bakimliCurrency }}</span>
      </div>
      <a href="#/app/receipt/{{receipt.pk}}" class="item item-avatar-left item-avatar-right"
         ng-repeat="receipt in values">
        <img actual-src="{{receipt.client.photo_320_320}}" ng-src="img/default-user.png">
        <h2>{{receipt.client.name}}</h2>
        <p>{{receipt.order_date | date : 'H:mm'}}</p>
        <span class="item-receipt">{{receipt.total | bakimliCurrency}}</span>
      </a>
    </ion-list>
    <ion-infinite-scroll on-infinite="vm.fetchMoreReceipts()" distance="3%" ng-if="vm.isMoreReceipts"></ion-infinite-scroll>

  </ion-content>
</ion-view>
