<ion-view view-title="{{ 'views.receipt.detail.title' | translate }} {{vm.receipt.pk}}">
  <ion-content class="review-cart-view">

    <div class="list card">
      <div class="item item-avatar">
        <img actual-src="{{vm.receipt.client.photo_320_320}}" ng-src="img/default-user.png">
        <h2>{{vm.receipt.client.name}}</h2>
        <p>{{vm.receipt.order_date | date : 'dd/MM/yyyy H:mm:ss'}}</p>
      </div>

      <div class="item item-body">
        <section>
          <h2>{{ 'views.receipts.cart.label.services' | translate }}:</h2>
          <ul class="review-list">
            <li ng-repeat="item in vm.receipt.services">
              <span class="item-name">{{item.service.name}}</span>
              <span class="item-price">{{item.subtotal | bakimliCurrency}}</span>
            </li>
          </ul>
        </section>
        <section>
          <h2>{{ 'views.receipts.cart.label.products' | translate }}:</h2>
          <ul class="review-list">
            <li ng-repeat="item in vm.receipt.products">
              <span class="item-name">{{item.product.name}}</span>
              <span class="item-price">{{item.subtotal | bakimliCurrency}}</span>
            </li>
          </ul>
        </section>
      </div>

      <div class="item">
        {{ 'views.receipts.cart.label.total' | translate }}
        <span class="item-note">
          {{vm.receipt.total | bakimliCurrency}}
        </span>
      </div>

    </div>
  </ion-content>
</ion-view>
