<ion-view view-title="{{ 'views.receipts.add.title' | translate }}" cache-view="false">
  <ion-content class="review-cart-view">
		<div class="padding">
			<div class="item item-body">
				<section>
					<h2>{{ 'views.receipts.cart.label.appointment.time' | translate }}:</h2>
					<p>{{vm.cart.appointmentTime | date : 'dd/MM/yyyy H:mm:ss'}}</p>
				</section>
				<section>
					<h2>{{ 'views.receipts.cart.label.client' | translate }}:</h2>
					<p>{{vm.cart.client.name}}</p>
				</section>
				<section>
					<h2>{{ 'views.receipts.cart.label.services' | translate }}:</h2>
					<ul class="review-list">
						<li ng-repeat="item in vm.cart.services">
							<span class="item-name">{{item.service.name}}</span>
							<span class="item-price">{{item.price | bakimliCurrency}}</span>
						</li>
					</ul>
				</section>
				<section>
					<h2>{{ 'views.receipts.cart.label.products' | translate }}:</h2>
					<ul class="review-list">
						<li ng-repeat="item in vm.cart.products">
							<span class="item-name">{{item.product.name}}</span>
							<span class="item-price">{{item.price | bakimliCurrency}}</span>
						</li>
					</ul>
				</section>
			</div>

			<div class="item">
				{{ 'views.receipts.cart.label.total' | translate }}
				<span class="item-note">
		      {{vm.cart.total | bakimliCurrency}}
		    </span>
			</div>
		</div>

		<button class="button button-full button-positive" ng-click="vm.doSubmitCart()">{{ 'views.receipts.cart.btn.confirm' | translate }}</button>
	</ion-content>
</ion-view>
