<ion-view view-title="{{ 'views.receipts.cart.label.select.client' | translate }}">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon ion-plus" ng-click="vm.create()">
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchText">
        </label>
        <button class="button button-clear button-small" ng-click="searchText = ''">
          Clear
        </button>
      </div>
      <div class="item" ng-repeat="client in vm.clients | filterSearchByName:searchText " ng-click="vm.doSelectClient(client)">
        {{client.name}}
      </div>
      <div class="item" ng-if='vm.message'>{{vm.message}}</div>
    </div>

  </ion-content>
</ion-view>
