<div class="modal">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Add Service</h1>
    <button class="button button-clear" ng-click="vm.cancel()">Close</button>
  </ion-header-bar>
  <ion-content>
  	<div class="list">
		  <label class="item item-input item-select" ng-if="!vm.editStatus" ng-class="{ 'has-errors' : vm.invalid.client}">
		    <span class="input-label">Service Name</span>
	    	<select name="service" ng-model="vm.selectedService" ng-options="item as item.service.name for item in vm.services" ng-change="vm.update()"></select>		    
		  </label>
		  <label class="item item-input" ng-if="vm.editStatus">
		    <span class="input-label">Service Name</span>
	    	<input type="text" ng-model="vm.selectedService.service.name" class="text-right" readonly>
		  </label>

		  <div class="error-container last-error-container" ng-show="vm.invalid.client">
			  <div class="error">
		      <i class="ion-information-circled"></i> 
		      This field is required!
		    </div>			  	
		  </div>

		  <label class="item item-input" ng-class="{ 'has-errors' : vm.invalid.price}">
		    <span class="input-label">Price</span>
		    <input type="text" placeholder="0" string-to-number ng-model="vm.selectedService.price" class="text-right" valid-number ng-change="vm.updatePrice(vm.selectedService.price)">
		  </label>	

		  <div class="error-container last-error-container" ng-show="vm.invalid.price">
			  <div class="error">
		      <i class="ion-information-circled"></i> 
		      This field is required!
		    </div>			  	
		  </div>	  
		</div>
		<div class="padding">
	    <button class="button button-positive button-block" ng-click="vm.confirm(vm.selectedService)">
	      Confirm
	    </button>			
		</div>
  </ion-content>
</div>