<div class="modal">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Add Product</h1>
    <button class="button button-clear" ng-click="vm.cancel()">Close</button>
  </ion-header-bar>
  <ion-content>

		<div class="list">
		  <label class="item item-input item-select" ng-if="!vm.editStatus" ng-class="{ 'has-errors' : vm.invalid.product}">
		    <span class="input-label">Product Name</span>
		    <select name="product" ng-model="vm.selectedProduct" ng-options="item as item.product.name for item in vm.products" ng-change="vm.update()"></select>
		  </label>
		  <label class="item item-input" ng-if="vm.editStatus">
		    <span class="input-label">Product Name</span>
	    	<input type="text" ng-model="vm.selectedProduct.product.name" class="text-right" readonly>
		  </label>

		  <div class="error-container last-error-container" ng-show="vm.invalid.product">
			  <div class="error">
		      <i class="ion-information-circled"></i> 
		      This field is required!
		    </div>
		  </div>

		  <label class="item item-input" ng-class="{ 'has-errors' : vm.invalid.price}">
		    <span class="input-label">Price</span>
		    <input type="text" placeholder="0" string-to-number ng-model="vm.selectedProduct.price" class="text-right" valid-number ng-change="vm.updatePrice(vm.selectedProduct.price)">
		  </label>

		  <div class="error-container last-error-container" ng-show="vm.invalid.price">
			  <div class="error">
		      <i class="ion-information-circled"></i>
		      This field is required!
		    </div>
		  </div>
		</div>
		<div class="padding">
	    <button class="button button-positive button-block" ng-click="vm.confirm(vm.selectedProduct)">
	      Confirm
	    </button>
		</div>

  </ion-content>
</div>
